beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
dateparser==0.6.0
flake8==3.5.0
idna==2.6
matplotlib==2.1.2
mccabe==0.6.1
more-itertools==4.1.0
numpy==1.14.0
pew==1.1.2
pexpect==4.4.0
pipenv==9.0.3
pkginfo==1.4.2
ptyprocess==0.5.2
pycodestyle==2.3.1
pyflakes==1.6.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-espncricinfo==0.3.1
pytz==2017.3
regex==2018.2.8
requests==2.20
requests-toolbelt==0.8.0
ruamel.yaml==0.15.35
six==1.11.0
tqdm==4.19.8
twine==1.11.0
tzlocal==1.5.1
urllib3==1.24.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
